
logs
target
.settings
.settings/
.project
.metadata
.classpath
.cache-main
.cache-tests
*.class
*.bak
*.swp
*~.nib
local.properties
tmp/
*.tmp
bin/
/.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
akka-diagnostics/
.ivy2/.credentials
